.header {
background-color: darkblue;
  height: 200px;
  width: 1000px;
  margin: 0 auto;
}

.content {
  background-color: black;
  height: 600px;
  width: 1000px;
  margin: 0 auto;
  margin-top: 10px;
}

.column {
  background-color: red;
  height: 600px;
  width: 300px;
  float: left;
  margin: 0px 16.6px;
}

.story {
  background-color: maroon;
  width: 300px;
  height: 280px;
  margin: 10px 0px;
}
